apiVersion: v1
kind: Secret
metadata:
  name: slurm-webui-secret
  namespace: default
type: Opaque
stringData:
  SLURM_HOST: "http://<slurmrestd-host>:6820"
  SLURM_USER_NAME: "<your-slurm-account>"
  SLURM_USER_TOKEN: "<your-slurm-jwt-token>"
  SLURMRESTD_VERSION: "v0.0.42"
